# Copyright (c) 2024 The Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Authors: liubang (it.liubang@gmail.com)

common --enable_bzlmod
# common --registry=https://liubang.github.io/playground/registry
common --registry=file://%workspace%/registry
common --registry=https://raw.githubusercontent.com/bazelboost/registry/main
common --registry=https://bcr.bazel.build

common --color=yes
common --experimental_ui_max_stdouterr_bytes=1073741819

build --jobs=8

# for java
build --nojava_header_compilation

# build --enable_platform_specific_config
# build:macos --apple_crosstool_top=@local_config_apple_cc//:toolchain
# build:macos --crosstool_top=@local_config_apple_cc//:toolchain
# build:macos --host_crosstool_top=@local_config_apple_cc//:toolchain

build --cxxopt=-std=c++17

# bazel build
test --test_output=all --action_env="GTEST_COLOR=1"
