#======================================================================
#
# .bazelrc -
#
# Created by liubang on 2023/05/22 11:34
# Last Modified: 2023/05/22 11:34
#
#======================================================================

common --color=yes
common --experimental_ui_max_stdouterr_bytes=1073741819
common --enable_bzlmod

build --jobs=8

# for java
build --nojava_header_compilation

# for cpp
build --cxxopt=-std=c++20

# bazel build
test --test_output=all --action_env="GTEST_COLOR=1"
test -c dbg
