---
Language:        Cpp
BasedOnStyle:  Google
IndentPPDirectives: AfterHash
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
