---
Language:           Cpp
BasedOnStyle:       Google
IndentPPDirectives: AfterHash
IndentCaseLabels:   true
AlwaysBreakTemplateDeclarations:   true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine:  Inline
...
