Diagnostics:
  ClangTidy:
    Add:
      [
        performance-*,
        bugprone-*,
        portability-*,
        modernize-*,
        misc-static-assert,
        misc-redundant-expression,
        misc-uniqueptr-reset-release,
        misc-unused-parameters,
      ]
    Remove: modernize-use-trailing-return-type
CompileFlags:
  Remove: [-fno-canonical-system-headers]
